body {
  font-family: 'Bungee', sans-serif;
  color:#5f6f52;
  background-color: #fff8e1;
  display: flex;
  flex-direction: column;
}

body a {
  color: #8d6e63; 
  text-decoration: none;
  font-family: 'Bungee', cursive;
  transition: transform 0.2s ease, color 0.2s ease;
}

body a:hover {
  color: #ffb74d;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8d6e63;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: 'Bungee', cursive;
  font-size: 1.2rem;
  margin: 0 1rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

nav a:hover {
  color: #ffb74d;
  transform: scale(1.1);
}

button {
  background-color: #ffb74d;
  color: #fff;
  font-family: 'Bungee', cursive;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
button:hover {
  background-color: #ffa726;
}

img {
  display: block;
  margin: 2rem auto;
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.tile-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tile {
  background-color: white;
  width: 300px;           
  margin: 1rem;           
  border-radius: 12px;    
  box-shadow: 0 4px 12px rgba(0,0,0,0.05); 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}















