<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a New App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Bebas+Neue&family=Bungee&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Add a New Food</h1>

    <form action="/users/<%=user._id%>/foods" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
        <label for="brand">Brand:</label>
        <input type="text" name="brand" id="brand">
        <label for="foodType">Food Type:</label>
        <select id="foodType" name="foodType">
            <option value ="meat">Meat</option>
            <option value ="fish">Fish</option>
            <option value ="dairy">Dairy</option>
            <option value ="vegetable">Vegetable</option>
            <option value ="fruit">Fruit</option>
            <option value ="grain">Grain</option>
            <option value ="legume">Legume</option>
            <option value ="nut">Nut</option>
            <option value ="seed">Seed</option>
            <option value ="oil">Oil</option>
            <option value ="sweetener">Sweetener</option>
            <option value ="beverage">Beverage</option>
            <option value ="condiment">Condiment</option>
            <option value ="supplement">Supplement</option>
            <option value ="processed">Processed</option>
            <option value ="other">Other</option>
        </select>
        <label for="servingSize">Serving Size:</label>
        <input type="text" name="servingSize" id="servingSize">
        <label for="calories">Calories:</label>
        <input type="text" name="calories" id="calories">
        <label for="fat">Fat:</label>
        <input type="text" name="fat" id="fat">
        <label for="carbohydrates">Carbohydrates:</label>
        <input type="text" name="carbohydrates" id="carbohydrates">
        <label for="protein">Protein:</label>
        <input type="text" name="protein" id="protein">
        <label for="sodium">Sodium:</label>
        <input type="text" name="sodium" id="sodium">
        <label for="cholesterol">Cholesterol:</label>
        <input type="text" name="cholesterol" id="cholesterol">
        
        <div>
            <label>Running Low:</label>
            <input type="radio" name="isLow" value="true" id="isLowTrue">
            <label for="isLowTrue">Yes</label>

            <input type="radio" name="isLow" value="false" id="isLowFalse">
            <label for="isLowFalse">No</label>
        </div>

        <button type="submit">Add Food</button>
    </form> 

  </body>
</html>